doctype html
html
  head
    title Contact Form
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
  body
    .container
      .headline
        h1 Contact Form
      a(href='./newcontact')
        button.btn.btn-default#add New Contact
      table.table.table-bordered.table-striped
        thead
          tr
            th.col-xs-2 Name
            th.col-xs-3 E-mail
            th.col-xs-2 Phone Number
            th.col-xs-3 Address
            th.col-xs-1 Edit
            th.col-xs-1 Delete
        tbody#list
          each element in contacts
            tr#sample
              td.name= element.name
              td.email= element.email
              td.phone= element.phone
              td.address= element.address 
              td: a.edit(href='#' data-toggle="modal" data-target="#myModal"): i.fa.fa-pencil-square-o.fa-lg
              td: a.remove(href='#'): i.fa.fa-trash-o.fa-lg

        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button#modalWindowClose.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Edit Contact
              .modal-body
                | Name:
                input#modalInputName(type='text')
              .modal-body
                | E-mail:
                input#modalInputEmail(type='text')
              .modal-body
                | Phone Number:
                input#modalInputPhone(type='text')
              .modal-body
                | Address:
                input#modalInputAdress(type='text')
              .modal-footer
                button.modalCloseBtn.btn.btn-default(type='button', data-dismiss='modal') Close
                button.modalSaveBtn.btn.btn-primary(type='button') Save changes


  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='js/main.js')






